@import "../../styles/variables";
@import "../../styles/mixins";
.Prenotazione {
  .overlay {
    position: fixed;
    top: 0;
    width: 96vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.676);
  }
  .formPrenotazione {
    @include flex-container(row, center, center);
    position: fixed;
    top: 20%;
    left: 30%;
    width: 500px;
    height: 400px;
    border-radius: $primary-bord;
    background-color: $primary-color;
    color: $secondary-color;
  }
  h2 {
    text-align: center;
    color: $color-title;
  }
  .inputForm {
    @include flex-container(column, center, 4px);
    width: 300px;
  }
}
