@import "../../styles/variables";

.SingleItem {
  position: absolute;
  right: calc(16% - 10vw);
  width: 86vw;

  border: 1px solid #e9e9e9;
  border-radius: $primary-bord;
  font-style: $primary-font;
  color: #cfcdcd;
  background-color: $color-card;
  .Content {
    display: flex;
  }

  h2 {
    color: $color-title;
    padding-left: 10px;
  }
  .text {
    padding-top: 10px;
    width: 100%;
    ul {
      list-style: none;
    }
    .close {
      border-radius: $primary-bord;
      position: absolute;
      top: 10px;
      left: 10px;
      color: #cfcdcd;
      display: flex;
      background-color: darkgoldenrod;
      cursor: pointer;
    }
    .close:hover {
      transform: scale(1.2);
    }
  }
  .image {
    img {
      width: 100%;
      height: 100%;
      border-top-right-radius: $primary-bord;
      border-bottom-right-radius: $primary-bord;
      object-fit: cover;
    }
  }
  .carousel {
    position: absolute;
    left: 50px;
    bottom: 0;
  }
}
@media screen and (min-width: 600px) {
  .SingleItem {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
