//colori

$primary-color: #151515e0;
$color-card: #0f0f0fa3;
$secondary-color: rgb(220, 200, 70);

//testo

$primary-test: bold;
$color-title: rgb(202, 207, 206);
$primary-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
//bordo
$primary-bord: 12px;
