@import "../../styles/variables";
.Card {
  box-shadow: 2px 0 4px $color-title;
  border-radius: $primary-bord;
  background-color: $color-card;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: all 0.35s;
  }
  .image {
    width: 240px;
    border-radius: 12px 12px 0 0;
  }

  .Title_Cocktail {
    font-weight: $primary-test;
    text-align: center;
    color: $color-title;
  }
  ul {
    font-family: $primary-font;
    color: $secondary-color;
    list-style: none;
  }
  .ingrediente {
    font-weight: $primary-test;
    border-bottom: 1px solid;
    width: 100px;
  }
  .text {
    height: 150px;
  }
}
